<ion-header>
  <ion-toolbar>
    <ion-title>
      البحث في المكتبة
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select>
          <ion-option value="f" checked="true">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item>
      <ion-list>
          <ion-list-header>Single Value Select</ion-list-header>
      
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
      
       
     
      
   